# Name of nodes to start, here we have a single node
CELERYD_NODES="{{ ansible_hostname }}"
# or we could have three nodes:
#CELERYD_NODES="w1 w2 w3"

# Where to chdir at start.
CELERYD_CHDIR="{{ web_app_dir }}"

# How to call "manage.py celeryd_multi"
CELERYD_MULTI="$CELERYD_CHDIR/manage.py celeryd_multi"

# How to call "manage.py celeryctl"
CELERYCTL="$CELERYD_CHDIR/manage.py celery"

# Extra arguments to celeryd
CELERYD_OPTS="--time-limit=300 --concurrency=8"

# %n will be replaced with the nodename.
CELERYD_LOG_FILE="{{ celery_logdir }}/%n.log"
CELERYD_PID_FILE="{{ celery_piddir }}/%n.pid"

# Workers should run as an unprivileged user.
CELERYD_USER="{{ celery_user }}"
CELERYD_GROUP="{{ celery_group }}"

# Name of the projects settings module.
export DJANGO_SETTINGS_MODULE="coresite.settings"
